@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');


*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

Link, a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  color: #313A49;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F1F3F5;
  min-width: 1170px;
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

/* HEADER */

.header {
  background-color: #fff;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  box-shadow: 0 7px 50px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 250px;
}

.header div {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.header div {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.nickname {
  display: flex;
  width: 317px;
  justify-content: space-between;
  align-items: center;
}

.entry-link {
  background-image: url('../images/entry-icon.png');
  display: block;
  width: 30px;
  height: 30px;
  left: 41px;
}

/* MAIN */

.main {
  display: flex;
  justify-content: center;
}

.list-applications {
  text-align: center;
  width: 1170px;
  background-color: #fff;
  padding: 50px 60px;
  margin-top: 97px;
}

.list-applications__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #313A49;
  margin: 0 0 35px;
}


.form-applications {
  display: flex;
  justify-content: space-between;
}

#filter-input {
  width: 192px;
  height: 30px;
  border-radius: 0;
}

#filter-input:disabled {
  background-color: #e1e1e1;
  border: 1px solid #adadad;
  cursor: not-allowed;
}

.filter-inputs {
  width: 437px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-button {
  width: 16px;
  height: 16px;
}

.table-container {
  width: 789px;
  height: 430px;
  display: flex;
  flex-direction: column;
}

.list-applications__columns {
  display: flex;
  justify-content: space-between;
}

.filter-components {
  display: flex;
  justify-content: space-between;
  width: 789px;
}

#download-button {
  font-family: 'Inter', sans-serif;
  background: #404653;
  width: 185px;
  height: 30px;
  color: #fff;
  border-radius: 0;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 15px;
}

#download-button:hover {
  opacity: 1;
}

/* FILTER */

.filter-inputs {
  display: flex;
  justify-content: space-between;

}

#download-button {
  font-family: 'Inter', sans-serif;
  background: #404653;
  width: 185px;
  height: 30px;
  color: #fff;
  border-radius: 0;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 15px;
}

#download-button:hover {
  opacity: 1;
}

/* FILTER */

.sidebar-filter {
  width: 225px;
  height: 165px;
  background-color: #F8F8F8;
  margin-top: 50px;
}

.sidebar-filter p {
  margin: 0;
  height: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: #7B939B;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 22px;
}

.sidebar-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-filter li {
  height: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #313A49;
  margin-bottom: 13px;
  text-align: left;
  display: flex;
  align-items: center;
  border-left: 5px;
}

.filter-button {
  border-left: solid 5px transparent;
  padding-left: 5px;
}

.selected-value {
  border-left: solid 5px #273A64;
}

#clear-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #313A49;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  border: 1px solid #313A49;
  border-radius: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  width: 225px;
  height: 39px;
}

/* TABLE */

.title-td {
  background-color: #7B939B;
  color: #fff;
  font-size: 12px;
}

.main-table .title-td {
  padding: 15px 0px;
}


.event-data-table td {
  position: relative;
  padding: 6px 30px;
  font-size: 12px;
  max-height: 5px;
  text-align: left;
}

.main-table td {
  padding: 40px 40px;
}


.event-data-table td a {
  position: absolute; /* Абсолютное позиционирование */
  left: 0; right: 0; /* По ширине ячейки */
  top: 0; bottom: 0; /* По высоте ячейки */
  display: flex;
  align-items: center;
}

.history-table .changeable-data {
  width: 155px;
}

.event-data-table tr:not(:last-of-type) td {
  border-bottom: 1px solid #7B939B;
}

.main-table .circle-status--green {
  width: 10px;
}

.circle-status--green::before {
  content: "";
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #91D150;
}

.circle-status--red::before {
  content: "";
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FD0001;
}

.circle-status--yellow::before {
  content: "";
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFFD04;
}

.event-data-table label {
  display: flex;
  align-items: center;
}

.blue-row {
  background: #F1F3F9;
}

.table-container {
  overflow: auto;
  height: max-content;
  width: 100%;
}

.event-data-table {
  margin-top: 20px;
  border-collapse: collapse;
  padding-left: 15px;
  width: max-content;
  table-layout: fixed;
  overflow: auto;
  min-width: 789px;
}



/* PAGINATION */

.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 45px;
  width: 85px;
}

.pagination-item {
  font-size: 12px;
}

.pagination-list a {
  color: #313A49;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.active-page-pag {
  text-decoration: underline;
}

/* REQUEST PAGE */

.info-item {
  display: flex;
  flex-direction: column;

}

.info-list {
  list-style: none;
  text-align: left;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-item:nth-child(n+42) {
  grid-column: 1/2;
}

.request-buttons {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 274px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #313A49;
}

#request-button--1 {
  width: 87px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: 1px solid #313A49;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
}

#request-button--2 {
  width: 167px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 0;
  border: 1px solid #313A49;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
}



.request-key {
  min-width: 300px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #313A49;
  margin: 0px;
}

.request-value {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #979799;
  padding: 0 0 25px;
  width: 90%;
  /*border-bottom: 1px solid #273A64;*/
}